<div class="d-flex align-items-center justify-content-center" style="height: 100vh">
  <div class="register-card">
    <div class="wrap d-md-flex">
      <div class="col-12 col-md-6 p-4 p-md-5">
        <div class="d-flex">

          <div class="w-100">

            <h3 class="mb-2">Unisciti alla battaglia!</h3>
            <p id="description">Voterai la tua causa alla filosofia della <br><span id="atene">Polis Ateniese</span>
              o sarai un fiero guerriero della <br><span id="sparta">Diarchia di Sparta</span>?<br>
              Lotta per la vittoria. Raggiungi la gloria!</p>
          </div>

        </div>
        <form #f="ngForm" (ngSubmit)="register(f)">
          <div class="form-group">
            <label class="label" for="username">Username</label>
            <input [ngModel] name="username" type="text" class="form-control" placeholder="Nome" required id="name"
              #name="ngModel" />
            <small [style.visibility]="
                name.invalid && (name.dirty || name.touched)
                  ? 'visible'
                  : 'hidden'
              " class="form-text text-danger">Campo obbligatorio</small>
          </div>
          <div class="form-group">
            <label class="label" for="email">eMail</label>
            <input [ngModel] name="email" type="text" class="form-control" placeholder="eMail" required id="surname"
              #surname="ngModel" />
            <small [style.visibility]="
                surname.invalid && (surname.dirty || surname.touched)
                  ? 'visible'
                  : 'hidden'
              " class="form-text text-danger">Campo obbligatorio</small>
          </div>


          <div class="form-group">
            <label class="label" for="fazione">Fazione</label>
            <select name="team" id="fazione" *ngIf="bEnabled || rEnabled" [ngModel] class="form-control" required>
              <option value="Atene" *ngIf="bEnabled"><span id="atene"> Atene </span></option>
              <option value="Sparta" *ngIf="rEnabled"><span id="sparta"> Sparta </span></option>
            </select>
            <div>

              <div *ngIf="bEnabled && !rEnabled">Atene ha bisogno di te!</div>
              <div *ngIf="rEnabled && !bEnabled ">Sparta ha bisogno di te!</div>
            </div>

          </div>


          <div class="form-group">
            <label class="label" for="password">Password</label>
            <input [ngModel] required name="password" type="password" class="form-control" id="password"
              placeholder="Password" #password="ngModel" />
            <small [style.visibility]="
                password.invalid && (password.dirty || password.touched)
                  ? 'visible'
                  : 'hidden'
              " class="form-text text-danger">Campo obbligatorio</small>
          </div>
          <div class="form-group">
            <button id="button-register" type="submit" class="form-control btn submit px-3 mt-2">
              Registrati
            </button>
          </div>
        </form>
        <p class="text-center mt-3">
          Sei già iscritto?
          <a data-toggle="tab" routerLink="/login">Accedi</a>
        </p>
      </div>
      <div class="img d-flex col-12 col-md-6">
        <div class="row">
          <tnv-contatore-scudo></tnv-contatore-scudo>
        </div>
      </div>
    </div>
  </div>