.register-card {
  color: white;
  width: 100%; /* Assicurati che il contenitore sia largo al 100% */
  max-width: 800px; /* Limita la larghezza massima per schermi più grandi */
  padding: 20px;
}

.img {
  background-image: url("/assets/images/pngwarrior.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative; 
}

.wrap {
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.25);
}

@media only screen and (max-width: 768px) {
  .register-card {
    width: 400px;
  }
  .img {
    height: 400px;
  }
}
#button-register {
  background-color: #e9b231;
   
}
h3 {
  margin-top: 50px;
  text-align: center;
}
#description {
  text-align: center;
  font-style: italic;
  font-size: 18px;
}
a {
  color: #e9b231;
}
a:hover {
  color: #d6b80fab;  
}
#atene {
  text-shadow: 1px 1px 4px #e9b231;
  color: blue;
}
#sparta {
  text-shadow: 1px 1px 4px #e9b231;
  color: red;
}