 .welcome-main {
    color: white;
    padding-bottom: 10%;
    margin-left: 10%;
    margin-right: 10%;
   }

 .background {
    background-image: url('/assets/images/giffix.gif');
    background-position: center;
    background-size: cover;
    overflow: hidden;
   }
.d-flex {
   margin-right: 30%;
   margin-left: 5%;
   display: flex;
   flex-wrap: wrap;
   

  .h1 {
     height: 150px;  
     width: 70%;
     text-align: center;
     margin-top: 5%; 
     font-size: 75px;  
   }
 
    
 .text {
    line-break: loose;
    text-align: center;
    line-height: 2;
    padding: 8%;
    margin-top: 5%;
    border: 1%;
   }
 .img{
     vertical-align: text-bottom;
     width: 300px;
     height: 350px;
     position: relative;
   }
 
 .button1{
 
    background-color: white;
    border: 2px solid #f5d000;
    color: black; 
    text-align: center;
    display: inline-block;
    font-size: 14px;
    transition-duration: 0.4s;
    cursor: pointer;
   }
 
 .button1:hover {
     background-color: #f5d000;
     color: white;
   }
   @media screen and (min-width: 1024px){
      .img{
         vertical-align: text-bottom;
         width: 450px;
         height: 500px;
         position: relative;
      } 
      .text {
         line-break: loose;
         text-align: left !important;
         line-height: 2;
         padding: 8%;
         margin-top: 5%;
         border: 1%;
      }
      .h1 {
         height: 150px;  
         width: 70%;
         text-align: left !important;
         margin-top: 5%; 
         font-size: 75px;  
       }
     


   }

  /*.card1{
     box-shadow: 0 4px 8px #151515;
     transition: 0.3s;
     size: 100%;
     position: absolute;
     bottom: 5%;
     left: 45%;
     transform: translateX(-50%);    
     justify-content: right;
     display: block;
     width: 17%;
     height: 1%;
     background-color: transparent;
     margin-left: 20%;
   }
   
  .card1:hover {
     box-shadow: 0 16px 32px #00188f;
   }
 
  .card2{
     box-shadow: 0 4px 8px #151515;
     transition: 0.3s;
     size: 100%;
     position: absolute;
     bottom: 5%;
     left: 85%;
     transform: translateX(-50%);    
     justify-content: center;
     display: block;
     width: 16%;
     height: 1%;
     background-color: transparent;
   }

  .card2:hover {
     box-shadow: 0 16px 32px #aa180e;
   }*/

}
