<div class="d-flex align-items-center justify-content-center">
  <div class="login-card">
    <div class="wrap d-md-flex">
      <div class="col-12 col-md-6 p-4 p-md-5">
        <div class="d-flex">
          <div class="w-100">
            <h2 class="m-2">WarRate Greek Edition</h2><br>
            <h3>Scegli i tuoi colori, unisciti alla lotta!</h3>
            <h4>
              <br>Il tuo scopo è semplice: vota e completa una recensione per il maggior numero di film possibile!
              Solo così ogni voto assegnato aggiungerà punti preziosi al tuo schieramento.
            </h4>
            <h3 class="fight">Lotta per la vittoria. Raggiungi la gloria!</h3>
          </div>
        </div>
        <div class="container">
          <a id="button-login" type="button" class="form-control btn px-2 m-2" routerLink="/game">Combatti</a>

        </div>
      </div>
      <div class="d-flex img col-12 col-md-6">
        <div class="row">
          <tnv-contatore-scudo></tnv-contatore-scudo>
        </div>
      </div>
    </div>
  </div>