<tnv-navbar></tnv-navbar>
 <div class="background">
   <div class="welcome-main">
      <h1>WarRate</h1>
      <p>L'Assedio del Cinema</p>
     <div class="d-flex flex-column ">
       <div class="text">
         <h2>Scegli i tuoi colori, unisciti alla lotta!</h2>
       </div>
       <div class="d-flex justify-content-center ">
          <div class="text">
            <p>Avventurati sul campo di battaglia e sfrutta la tua passione per il cinema per portare la tua fazione alla vittoria! Unisciti alla saggia Polis Ateniese *span di testo ombrato in blu* o abbraccia la forza della Diarchia di Sparta *span ombrato in rosso*.
              Il tuo scopo è semplice: vota e completa una recensione per il maggior numero di film possibile! Solo così ogni voto assegnato aggiungerà punti preziosi alla tua squadra.
              Lotta per la vittoria. Raggiungi la gloria!</p> 
              <div class="d-flex justify-content-around">
                <button type="button" class="btn btn-success btn-circle button1" routerLink="/game">Combatti</button>
          </div>  
          <div class="p-2">
            <img src="/assets/images/2warriorv2.png" alt="Warrate">
          </div>
       </div>
     </div>
    </div>
  </div>
