.profile-data {
    font-weight: bold;
    color: white;
}
h2 {
    color: white;
}
h3 {
    color: white;
}

span {
    color: white;
}
.form-group{
    color: white;
}
a{
    color: white;
}
p{
    color: white;
}
.register-card {
    color: white;
    width: 1500px;
    background: transparent;
    height: 600px; 
  }
