// ---
// Material Theme
// ---

@use '@angular/material' as mat;

@include mat.core();

// Color palettes
@import "./palettes.scss";


$tnv-project-template-primary: mat.define-palette($primary-palette);
$tnv-project-template-accent: mat.define-palette($secondary-palette);
$tnv-project-template-warn: mat.define-palette(mat.$red-palette);

$tnv-project-template-theme: mat.define-light-theme((
  color: (
    primary: $tnv-project-template-primary,
    accent: $tnv-project-template-accent,
    warn: $tnv-project-template-warn,
  )
));

@include mat.all-component-themes($tnv-project-template-theme);

// ---
// BOOTSTRAP Theme
// ---
//$primary: map-get($primary-palette, 700);
//$secondary: map-get($secondary-palette, 300);
//$font-family-sans-serif: 'Roboto', sans-serif;
$font-family-sans-serif: 'Ysabeau Office', sans-serif;

@import "bootstrap/scss/bootstrap";


// GLOBAL STYLES qui sotto

label {
  text-transform: uppercase;
  font-size: small;
  font-weight: bold;  
}



html, body { 

background-image: url(assets/images/sfondogeneraleAppFIXED.gif);
background-size:contain;



}
body { 
  margin: 0;   
  font-family: Ysabeau Office, sans-serif;
  padding-top: 70px;
  color: white;
 }
#navbar a {
  color: white;
}

p{
  font-family: Ysabeau Office, sans-serif;
}

