#navbar {
    //background-image: url('/assets/images/sfondogeneraleApp.png');
    //background-size:cover;
    //background-repeat: no-repeat;
    //overflow: hidden; 
    background-color: #030406 !important;
    color: white;
}
img{    
    background-size: cover;
    width: 60px;
    cursor: pointer;
}
