
 .bottoneComment {
   background-color: transparent; 
   border: 1px solid white; 
   color: white;  
   text-align: center; 
   display: inline-block; 
   font-size: 22px; 
   transition-duration: 0.4s; 
   cursor: pointer;   
 }
 
 .bottoneComment:hover { 
   letter-spacing: 0.05em;
   box-shadow: 0 0 40px #d9a03e;
   text-shadow: 1px 1px 2px #d9a03e; 
 
 }
 .container {
   display: flex;
   justify-content: flex-end;
   padding: 0;
 }
 .d-flex {
   display: flex;
 }
 
 .flex-row {
   flex-direction: row;   
 }
 
 .align-items-flex-end {
   justify-content: flex-end;
 }
