
 .bottoneComment {
   background-color: transparent; 
   border: 1px solid white; 
   color: white;  
   text-align: center; 
   display: inline-block; 
   font-size: 22px; 
   transition-duration: 0.4s; 
   cursor: pointer;
 }
 
 .bottoneComment:hover { 
   letter-spacing: 0.05em;
   box-shadow: 0 0 40px #d9a03e;
   text-shadow: 1px 1px 2px #d9a03e; 
 
 }
 .container {   
   padding: 0;
 }

ngb-rating {
  color: #d9a03e;
  font-size: 36px; /* Imposta la dimensione desiderata */  
}
