<div
  class="d-flex align-items-center justify-content-center"
  style="height: 100vh;"
>
  <div class="login-card">
    <div class="wrap d-md-flex">      
      <div class="col-12 col-md-6 p-4 p-md-5">
        <div class="d-flex">
          <div class="w-100">
            <h3 class="mb-4">Accedi</h3>
            <p id="description">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do 
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut 
              enim ad minim veniam, quis nostrud exercitation ullamco laboris 
              nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in 
              reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
               pariatur. Excepteur sint occaecat cupidatat non proident, sunt in 
               culpa qui officia deserunt mollit anim id est laborum."</p>
          </div>
        </div>
        <form #f="ngForm" (ngSubmit)="login(f)">
          <div class="form-group">
            <label class="label" for="username">Username</label>
            <input
              [ngModel]
              name="username"
              type="text"
              class="form-control"
              placeholder="Username"
              required
              id="username"
              #username="ngModel"
            />
            <div
              [style.visibility]="username.invalid && (username.dirty || username.touched) ? 'visible' : 'hidden'"
              class="mt-1 small text-danger"
            >
              Campo obbligatorio
            </div>
          </div>
          <div class="form-group">
            <label class="label" for="password">Password</label>
            <input
              [ngModel]
              required
              name="password"
              type="password"
              class="form-control"
              id="password"
              placeholder="Password"
              #password="ngModel"
            />
            <div
            [style.visibility]="password.invalid && (password.dirty || password.touched) ? 'visible' : 'hidden'"
              class="mt-1 small text-danger"
            >
              Campo obbligatorio
            </div>
          </div>
          <div class="form-group">
            <button
              id="button-login"
              type="submit"
              class="form-control btn submit px-2 mt-2"
            >
              Login
            </button>
          </div>
        </form>
        <p class="text-center mt-3">
          Non sei iscritto?
          <a data-toggle="tab" routerLink="/register">Registrati</a>
        </p>
      </div>
      <div class="d-flex img col-12 col-md-6">
      <div class="row">
        <tnv-contatore-scudo></tnv-contatore-scudo>     
      </div>
    </div>
  </div>
</div>
