<div class="d-flex align-items-center justify-content-center" style="height: 100vh;">
    <div class="login-card">
      <div class="wrap d-md-flex">      
        <div class="col-12 col-md-6 p-4 p-md-5">
          <div class="d-flex">
            <div class="w-100">
              <h3 class="m-5">Gioca con Noi</h3>
              <p id="description">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do 
                  eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut 
                  enim ad minim veniam, quis nostrud exercitation ullamco laboris 
                  nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in 
                  reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                   pariatur. Excepteur sint occaecat cupidatat non proident, sunt in 
                   culpa qui officia deserunt mollit anim id est laborum."</p>
            </div>
          </div>
          
          <a id="button-login" type="button" class="form-control btn px-2 mt-2" routerLink="/login">Login</a>
          <a id="button-register" type="button" class="form-control btn px-3 mt-4" routerLink="/register">Registrati</a>
        </div>
        <div class="d-flex img col-12 col-md-6">
            <div class="row">
                <tnv-contatore-scudo></tnv-contatore-scudo>                      
              </div>
        </div>        
      </div>
     
    </div>
  </div>
  