<div class="d-flex align-items-center justify-content-center" style="height: 100vh;">
  <div class="login-card">
    <div class="wrap d-md-flex">
      <div class="col-12 col-md-6 p-4 p-md-5">
        <div class="d-flex">
          <div class="w-100">
            <h3 class="m-2">Gioca con Noi</h3>
              <p id="description"> <span class="invite">Scegli i tuoi colori, partecipa alla battaglia!</span><br>
                Unisciti alla saggia <span id="atene">Polis Ateniese</span>
                o abbraccia la forza della <span id="sparta">Diarchia di Sparta.</span>
                Avventurati sul campo di battaglia e sfrutta la tua passione per
                 il cinema per portare la tua fazione alla vittoria!<br> 
                <br>Il tuo scopo è semplice: vota e completa una recensione per il maggior numero di film possibile!
                 Solo così ogni voto assegnato aggiungerà punti preziosi alla tua squadra.<br>                
                Lotta per la vittoria. Raggiungi la gloria!</p>
          </div>
        </div>
        <div class="container">
          <a id="button-login" type="button" class="form-control btn px-2 m-2" routerLink="/login">Login</a>
          <a id="button-register" type="button" class="form-control btn px-3 m-2" routerLink="/register">Registrati</a>
        </div>
      </div>
    <div class="d-flex img col-12 col-md-6">
        <div class="row">
          <tnv-contatore-scudo></tnv-contatore-scudo>   
    </div>
   </div>
  </div>
 </div>