.instruction {
  text-align: center;
}

h5 {
  font-size: 36px;
}
.img {
  background-image: url("/assets/images/giffix.gif");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  background-color: transparent;  
  height: 600px;
  margin: auto;
}

.container{
  display: flex;
  flex-wrap: wrap;
  margin: 0%;

  .img {    
    margin-left: auto;
    margin-top: auto;
  }
  .game{
    display: flex;
    justify-content: center;
    margin: auto;
    
  }

  .img {
    height: 300px;
    width: 400px;
    margin-top: 185px;
    margin-left: auto;
  }
  .game{
    display: flex;
    justify-content: center;
    margin: auto;
    
  } 
  
  .img {     
    height: 300px;  
    width: 300px;
    margin-left: auto;
  } 
  .game{
  display: flex-start;
  flex-direction: column;
  justify-content: flex-start;
  margin: auto;
  scale: 70%;
  } 
}