.image {
    background-image: url("/assets/images/scudoNoSfondo.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;   
    
    
}
.counter{
 text-align: center;
 font-size: 400%;
 transition-duration: 0.4s;
 
 animation: color-change 1s infinite;
}
.p-5{
  padding: 0% !important;

}

#scudo1 {
    size: 100%;
    position: absolute;
    bottom: 5%;
    left: 20%;
    transform: translateX(-50%);    
    justify-content: center;
    transition: 0.3s;
    cursor: pointer;
  }
  @keyframes color-change {
    0% { color: red; }
    50% { color: blue; }
    100% { color: red; }
  }
  #scudo2 {
    size: 100%;
    position: absolute;
    bottom: 5%;
    left: 80%;
    transform: translateX(-50%);    
    justify-content: center;
    transition: 0.3s;
    cursor: pointer;
   

  }
  
  