.image {
    background-image: url("/assets/images/scudoNoSfondo.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;    
}
#scudo1 {
    size: 100%;
    position: absolute;
    bottom: 5%;
    left: 20%;
    transform: translateX(-50%);    
    justify-content: center;
  }
  #scudo2 {
    size: 100%;
    position: absolute;
    bottom: 5%;
    left: 80%;
    transform: translateX(-50%);    
    justify-content: center;
  }
  
  