
<ngb-carousel *ngIf="movies" [interval]="0">
    <ng-template ngbSlide *ngFor="let movie of movies">
      <div class="card shadow">
        <img [src]="'https://image.tmdb.org/t/p/original' + movie?.poster_path" alt="{{ movie.title }}">
        <div class="carousel-caption">
          <h3>{{ movie.title }}</h3>
          <p>{{ movie.overview }}</p>

          
          <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next"> 
            <span class="carousel-control-next-icon" aria-hidden="true"></span> 
            <span class="sr-only">Next</span> 
          </a> 
        

          <div *ngIf="!rating?.movieId">
            <!-- Bisogna ancora lavorarci, per far si che il movie id di Rating e di Movie vadano a combaciare -->
            <!-- Andrebbe rimodellato come componente il text area qui sotto -->
            <textarea [ngModel]="rating?.comment" class="form-control" rows="3"></textarea>
            <button> BOTTONE DI INVIO CHE ORA NON FA UN CAZZO </button>
          </div>
        </div>
      </div>
    </ng-template>
</ngb-carousel>

