.modal-body{
    background-image: url(../../../assets/images/sfondogeneraleApp.gif);
}
.modal-header{
    background-color: black;
}
.modal-footer{
    background-color: black;
}
#button-rewiew{
    font-size: 20px;
}
button{
  background-color: transparent;
  border: 1px solid white;
  color: white;
  text-align: center;
  display: inline-block;
  font-size: 22px;
  transition-duration: 0.4s;
  cursor: pointer;
  
}

button:hover {
  letter-spacing: 0.05em;
  box-shadow: 0 0 40px #d9a03e;
  text-shadow: 1px 1px 2px #d9a03e;
}

    

.modal {
   position: absolute;
   top: 100px;
   right: 100px;
   bottom: 0;
   left: 0;
   z-index: 10040;
   overflow: auto;
   overflow-y: auto;
}
