  .container {
    display: flex;
    justify-content: flex-start;
    padding: 0;
  }
  .d-flex {
    display: flex;
  }
  
  .flex-row {
    flex-direction: row;   
  }
  
  .align-items-flex-end {
    justify-content: flex-end;
  }
  
  ngb-rating {
    color: #d9a03e;
    font-size: 36px; /* Imposta la dimensione desiderata */  
  }
  