  .container {
    display: flex;
    justify-content: flex-start;
    padding: 0;
  }
  .d-flex {
    display: flex;
  }
  
  .flex-row {
    flex-direction: row;   
  }
  
  .align-items-flex-end {
    justify-content: flex-end;
  }
  
.form-control{
  background-image: url(../../../assets/images/sfondogeneraleApp.gif);
  color: white;
  font-size: 18px;
}
  